.access-granted-container {

  .home-link-container {
    visibility: hidden;
  }

  .access-granted {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .agency-name {
      color: $orange;
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
    }

    .message-text {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 36px;
      color: $gray-mid;

      .welcome-text {
        font-size: 20px;
      }

      .name-box {
        display: flex;
        align-items: center;

        .name {
          align-items: center;
          display: flex;
          font-size: 32px;
          font-weight: 200;
          justify-content: center;
          height: 48px;
          width: 580px;
          position: relative;
          top: 3px;
        }

        .name-endcap {
          background-image: url(/public/images/Url_endcap.png);
          background-repeat: no-repeat;
          width: 62px;
          height: 75px;

          &.left {
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }

      .bars {
        display: flex;
        flex-direction: column;

        .name-bar {
          width: 604px;
          height: 3px;
          position: relative;
        }

        .top-bar {
          bottom: 65px;
        }

        .bottom-bar {
          bottom: 14px;
        }
      }
    }

    .icons-container {
      display: flex;
      margin-top: 60px;

      .icon-container {
        border: 3px solid $black;
        border-radius: 5px;
        background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,1));

        &:hover {
          border-color: $orange;
          background: linear-gradient(rgba(250, 175, 64, 0) 50%, rgba(250, 175, 64, 1));
          box-shadow: -1px -1px 20px -10px $orange, 1px 1px 20px 0px $orange;
        }
      }

      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
      }

      .client-assessment-link .icon-title {
        position: relative;
        bottom: 5px;
      }

      .icon-title {
        max-width: 125px;
        text-align: center;
        margin-top: 30px;

        &.inactive {
          color: $cream;
        }

        &.active {
          color: $orange;
        }
      }
    }
  }
}
