.website-analyzer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .stag-medium-container {
    margin-top: 60px;
  }

  .website-analyzer-prompt {
    color: $gray-light;
    font-size: 24px;
    line-height: 115%;
    margin-bottom: 20px;
    max-width: 770px;
    text-align: center;
    text-transform: uppercase;

    .prompt-one.error {
      color: $red;
    }
  }

  .url-box {
    width: 75%;
    max-width: 575px;
    height: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .client-url {
      background-color: inherit;
      border: 3px solid $orange;
      color: $gray-light;
      font-weight: 200;
      font-size: 24px;
      height: 60px;
      text-align: center;
      width: 100%;

      &:focus {
        outline: none;
      }

      &.error {
        border-color: $red;
      }
    }

    .cursor-bar {
      border-top: 1px solid $orange;
      bottom: 11px;
      height: 0px;
      position: relative;
      width: 80%;

      &.error {
        border-color: $red;
      }
    }
  }

  .start-analyzer-btn {
    position: relative;
    top: 40px;
  }
}