.loading-state-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  .loading-state-video {
    display: none;
  }

  .stag-medium-container {
    margin-top: 50px;
  }

  .video-container {
    margin: 20px;
  }
}
