.scorecard-gateway {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;

  .gateway-title-top {
    margin-top: 60px;
  }

  .gateway-title-top, .gateway-title-bottom {
    color: $gray-light;
    font-size: 48px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .gateway-title-bottom {
    line-height: 1;
  }

  .view-scorecard-btn {
    padding: 6px 100px;
  }
}