.report {

  .competitor-report-navbar {
    height: 40px;
    background-color: $gray-darker;
    box-shadow: 0px -1px 20px -5px $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;

    .scorecard-link {
      flex-grow: 1;
      flex-basis: 0;
      color: $orange;
      font-size: 18px;
      position: relative;
      left: 40px;
    }

    .company-name {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      color: $orange;
      font-size: 24px;
      font-weight: 200;
    }

    .links-container {
      flex-grow: 1;
      flex-basis: 0;
      text-align: right;
      position: relative;
      right: 40px;

      .competition-link {
        color: $orange;
        font-size: 18px;
        margin-right: 20px;
      }

      .reporting-link {
        font-size: 18px;
      }
    }
  }

  .competitor-report {
    display: flex;
    align-items: center;
    flex-direction: column;

    .category-list {
      position: absolute;
      margin-top: 116px;
      width: 85%;
      left: 60px;

      .cell {
        display: flex;
        align-items: center;
        height: 60px;
        border-bottom: 1px solid $gray;
      }

      .text {
        max-width: 260px;
      }

      .section .text {
        font-size: 20px;
        color: $cream;
        position: relative;
        left: 20px;
        top: 10px;
      }

      .item .text {
        position: relative;
        left: 30px;
        color: $cream;
      }

      .category.cell {
        border-bottom: 1.5px solid $cream;
        color: $cream;
        font-size: 24px;
        height: 130px;
        padding-top: 30px;

        .category-name {
          position: relative;
          top: 15px;

          i {
            margin-right: 5px;
          }
        }
      }
    }

    .data-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 60px;

      .columns {
        display: flex;
        position: relative;
        z-index: -1;
      }

      .column {
        width: 160px;
        display:flex;
        justify-content: center;

        .main-company-column, .competitor-company-column {
          text-align: center;
          width: 100%;
        }

        .main-company-column {
          background-color: $black;

          .company-stag {
            height: 100px;
          }

          .main-company-stag-img {
            margin-top: 15px;
          }

          .main-company-name {
            color: $orange;
          }
        }

        .competitor-company-column {
          .competitor-stag {
            height: 80px;
          }

          .competitor-stag-img {
            margin-top: 35px;
          }
        }

        .main-company-name, .competitor-company-name {
          margin-top: 8px;
          margin-bottom: 15px;
        }

        .score-badge-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 130px;
          padding-top: 30px;

          .score-badge {
            background-image: url(/public/images/gildedBadge_md.png);
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;

            .score-circle {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;

              &.green {
                background-color: $green;
              }

              &.orange {
                background-color: $orange;
              }

              &.red {
                background-color: $red;
              }

              .score {
                font-size: 22px;
                color: $black;
              }
            }
          }
        }

        .empty-section-title-box, .cell {
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .cell {

          .green-bullet {
            color: $green;
          }

          .orange-bullet {
            color: $orange;
          }

          .red-bullet {
            color: $red;
          }

          .gray-bullet {
            font-size: 24px;
          }
        }

        .seo-metric-score {
          &.green-bullet {
            color: $green;
          }

          &.orange-bullet {
            color: $orange;
          }

          &.red-bullet {
            color: $red;
          }
        }
      }
    }
  }
}
