.add-social-modal {

  .no-btn {
    background-color: transparent;
    margin-right: 10px;

    &:hover {
      background-color: $orange;
    }
  }

  .no-btn, .yes-btn {
    padding: 7px 60px;
    font-size: 12px;
  }

  .modal-dialog {
    width: 500px;
  }

  .modal-content {
    background-color: $cream;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    display: flex;
    justify-content: center;

    .add-account-title,
    .missing-account-prompt,
    .error-no-account,
    .verify,
    .invalid-account-id,
    .add-account,
    .add-another-account {
      text-align: center;
    }

    .add-another-account .title {
      margin-bottom: 40px;
    }

    .add-account-title {
      margin-bottom: 20px;
    }

    .missing-account-prompt {
      margin-bottom: 40px;
    }

    .social-account {
      width: 316px;
      margin: 20px 0px;
    }

    .verify .profile-picture {
      margin: 20px 0px 40px 0px;
    }
  }

  .modal-footer {
    border-top: none;
  }
}